* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-image: url('../img/header-background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 660px;
}

.head-container {
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 576px;
    margin: auto;
}

nav.container {
    margin: auto;
    max-width: 1055px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4c6d6d;
}

.logo {
    display: flex;
    margin: 32px 21px 32px 0;
}

.fa-phone {
    color: #bec8c8;
}

p.nav-element {
    border-left: 1px solid #a9a9a9;
    margin-left: 25px;
    padding: 0px 25px;    
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;    
}

.nav-element {
    color: #bec8c8;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.81em;
    line-height: 1.31em;
    font-weight: bold;
    text-decoration: none;
}

a.nav-element {
    padding: 11px 15px;
}

.active-link {
    color: #fff;
}

a.nav-element:visited {
    text-decoration: none;
}

.wapik {
    min-width: 90px; 
    background-image: url('../img/logo.png');
    background-position: center;
    background-size: contain;
    min-height: 20px;
    background-repeat: no-repeat;   
}

.nav-button {
    background-color: #708787;
    border-radius: 3px;
}

.head-container h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    line-height: 1.31em;
    font-size: 2.37em;
    color: #fff;
    margin: 0;
}

.head-container p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #fff;
    line-height: 1.5em;
    font-size: 1em; 
    margin: 20px 0;
}

.head-container a {
    background-color: #6fb048;
}